@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.categories, .title {
  font-weight: 400;
  font-size: 42px;
  line-height: 52.5px;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 1294px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.navbar {
  padding: 30px 0;
}
.navbar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 33px;
}
.navbar-menu__item_drop {
  position: relative;
}
.navbar-menu__item_drop .navbar-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.navbar-menu__link {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.navbar-menu__link:hover::after {
  width: 100%;
}
.navbar-menu__link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 13px;
}
.navbar-actions__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3px;
  cursor: default;
}
.navbar-actions__search input {
  background-color: #ffffff;
  outline: none;
  border-radius: 100px;
  padding: 4px 17px;
  font-family: "Inter", sans-serif;
  width: 0;
  border: none;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  visibility: hidden;
  cursor: default;
}
.navbar-actions__search input.active {
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  width: 200px;
  visibility: visible;
}
.navbar-actions__search img {
  cursor: pointer;
}
.drop-menu {
  position: absolute;
  top: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  height: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding: 16px 20px;
  border-radius: 8px;
  z-index: 100;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  overflow: hidden;
  padding: 0;
}
.drop-menu.active {
  height: 130px;
  padding: 16px 20px;
}
.drop-menu__item {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.drop-menu__item:hover::after {
  width: 100%;
}
.drop-menu__item::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header {
  margin-top: 28px;
}
.header__row {
  background-color: #DCE5E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 32px;
  height: 550px;
}

.header-main {
  padding-left: 56px;
}
.header-main__title {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: 69.6px;
  color: #000000;
}
.header-main__text {
  margin-top: 19px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #000000;
  font-family: "Inter", sans-serif;
}
.header-main__button {
  margin-top: 30px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #000000;
  border: 1px solid #000000;
  height: 50px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 200px;
}

.categories {
  margin-top: 75px;
  padding-bottom: 75px;
}
.categories__title {
  text-align: center;
}
.categories__text {
  margin-top: 9px;
  text-align: center;
  max-width: 628px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
  margin: 0 auto;
}
.categories__row {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 639px 312px 312px;
  grid-template-rows: 472px 270px;
  gap: 16px;
}

.categories-item {
  -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.categories-item:nth-child(1) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 42px;
}
.categories-item:nth-child(1) .categories-item__main {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  max-width: 192px;
}
.categories-item:nth-child(2) {
  grid-row-end: span 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 16px;
}
.categories-item:nth-child(2) .categories-item__main {
  margin-top: 41px;
  text-align: center;
}
.categories-item:nth-child(2) .categories-item__image {
  width: 100%;
}
.categories-item:nth-child(3) {
  grid-row-end: span 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.categories-item:nth-child(3) .categories-item__main {
  padding: 0 16px;
  text-align: center;
}
.categories-item:nth-child(3) .categories-item__image {
  width: 100%;
  margin-top: 41px;
}
.categories-item:nth-child(4) {
  padding-right: 42px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.categories-item:nth-child(4) .categories-item__main {
  text-align: right;
  width: 174px;
}
.categories-item__name {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19.2px;
  color: #000000;
  font-family: "Inter", sans-serif;
}
.categories-item__title {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  color: #000000;
}

.selled {
  padding-bottom: 75px;
}
.selled__title {
  text-align: center;
}
.selled__text {
  margin-top: 9px;
  text-align: center;
  max-width: 628px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.8px;
  color: #000000;
  margin: 0 auto;
}
.selled__row {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 28px;
}

.selled-item__image {
  width: 247px;
  height: 214px;
}
.selled-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.selled-item__main {
  margin-top: 33px;
}
.selled-item__name {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27.5px;
  color: #000000;
}
.selled-item__desc {
  margin-top: 9px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #4B4B4B;
  font-family: "Inter", sans-serif;
}
.selled-item__price {
  margin-top: 25px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #000000;
  font-family: "Inter", sans-serif;
}

.best {
  padding-bottom: 75px;
}
.best__title {
  text-align: center;
}
.best__text {
  margin-top: 9px;
  text-align: center;
  max-width: 628px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.8px;
  color: #000000;
  margin: 0 auto;
}
.best__row {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 28px;
}

.best-item {
  background-color: #F8F9FA;
  padding: 0 41px;
  text-align: center;
}
.best-item__image {
  width: auto;
  height: 250px;
}
.best-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.best-item__main {
  margin-top: 33px;
}
.best-item__name {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
}
.best-item__desc {
  margin-top: 9px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.8px;
  color: #4B4B4B;
  font-family: "Inter", sans-serif;
}
.best-item__button {
  margin: 30px auto;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #000000;
  border: 1px solid #000000;
  height: 50px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 200px;
}

.ideas {
  padding-bottom: 75px;
}
.ideas__title {
  text-align: center;
}
.ideas__text {
  margin-top: 9px;
  text-align: center;
  max-width: 628px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.8px;
  color: #000000;
  margin: 0 auto;
}
.ideas__row {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}
.ideas__img {
  width: 620px;
  height: 420px;
  border-radius: 16px;
  overflow: hidden;
}
.ideas__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ideas__footer {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ideas__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #000000;
}
.ideas__button img {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ideas__button:hover img {
  top: -8px;
  right: -8px;
}

.ideas-main__text {
  margin-top: 23px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-family: "Inter", sans-serif;
}
.ideas-main__text:first-child {
  margin-top: 14px;
}

.looking {
  padding-bottom: 61px;
}
.looking .container {
  max-width: 650px;
}
.looking__title {
  text-align: center;
}
.looking__input {
  margin-top: 14px;
  border: 1px solid #C5C5C5;
  background-color: #F8F9FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  border-radius: 100px;
  padding: 5px 17px;
  font-family: "Inter", sans-serif;
}
.looking__input input {
  height: 100%;
  border: none;
  outline: none;
  background-color: #F8F9FA;
  padding: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.looking__row {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7px;
}
.looking__item {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
  font-family: "Inter", sans-serif;
  border: 1px solid #C5C5C5;
  padding: 13px 22px;
  border-radius: 100px;
}

.miss {
  padding-bottom: 19px;
}
.miss .container {
  max-width: 935px;
}
.miss__main {
  background-color: #DCE5E2;
  padding: 27px 0 43px;
  text-align: center;
  border-radius: 16px;
}
.miss__text {
  margin-top: 9px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #000000;
  font-family: "Inter", sans-serif;
}
.miss__image {
  width: 233px;
  height: 200px;
  margin: 15px auto 0;
}
.miss__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.miss__input {
  margin-top: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-radius: 100px;
  border: 1px solid #000000;
}
.miss__input input {
  padding: 16px 16px 16px 32px;
  background-color: #DCE5E2;
  border: none;
  outline: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.miss__input button {
  background-color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #ffffff;
  padding: 16px 32px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.footer {
  background-color: #F8F9FA;
  padding-top: 45px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__text {
  margin-top: 18px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #000000;
  font-family: "Inter", sans-serif;
}
.footer__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.footer-menu__title {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27.5px;
  color: #000000;
}
.footer-menu__main {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}
.footer-menu__link {
  display: block;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 21.6px;
  color: #000000;
  font-family: "Inter", sans-serif;
  position: relative;
}
.footer-menu__link:hover::after {
  width: 100%;
}
.footer-menu__link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-copy {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #DCE5E2;
  padding-top: 53px;
}
.footer-copy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #000000;
}
.footer-copy__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
  cursor: pointer;
}
.footer-copy__button img {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-copy__button:hover img {
  top: -5px;
  right: -5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #08090D;
  font-size: 24px;
}

.swiper-pagination-bullet {
  width: 160px;
  border-radius: 0;
  height: 3px;
}

.swiper-pagination-bullet-active {
  background: #08090D;
}